/*
 * 1. Add a style tag that sets a rule for .list-item to make the color red.
 */

body {
  font-family: "Times New Roman", Times, serif;
}

form {
  margin-top: 4em;
}

label {
  display: block;
  margin: 1em 0;
  font-weight: bold;
}

input {
  display: block;
}
.list-item {
  color: red;
}

img {
  border-radius: 100px;
  width: 150px;
  aspect-ratio: 1;
  border-style: solid;
  border-color: rgb(107, 106, 106);
  border-width: 10px;
}
